<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .error-container {
            margin-top: 100px;
            text-align: center;
        }

        .error-code {
            font-size: 120px;
            font-weight: bold;
            color: #dc3545;
        }

        .error-message {
            font-size: 24px;
            margin-top: 20px;
        }

        .back-link {
            margin-top: 30px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="error-container">
        <div class="error-code" th:text="${errorCode}">404</div>
        <ul>
            <li class="error-message" data-th-each="error: ${errorMessage}" data-th-text="${error}"></li>
        </ul>
        <div class="back-link">
            <a th:href="@{/tasks/create}" class="btn btn-primary">Вернуться на страницу создания задачи</a>
        </div>
    </div>
</div>
</body>
</html>