<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Удалить задачу</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Удалить задачу</h1>
    <p>Вы уверены, что хотите удалить задачу?</p>
    <form th:action="@{/tasks/{id}/delete(id=${task.id})}" method="post">
        <button type="submit" class="btn btn-danger">Удалить</button>
        <a th:href="@{/tasks/list}" class="btn btn-secondary">Отменить</a>
    </form>
</div>
</body>
</html>