<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Управление задачами</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Управление задачами</h1>
    <a href="/tasks/create" class="btn btn-primary mb-3">Создать новую задачу</a>
    <table class="table">
        <thead>
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th>Статус</th>
            <th>Дедлайн</th>
            <th>Действие</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${tasks}">
            <td th:text="${task.title}"></td>
            <td th:text="${task.description}"></td>
            <td th:text="${task.status}"></td>
            <td th:text="${#temporals.format(task.deadline, 'yyyy-MM-dd HH:mm')}"></td>
            <td>
                <a th:href="@{/tasks/{id}/edit(id=${task.id})}" class="btn btn-warning btn-sm">Edit</a>
                <a th:href="@{/tasks/{id}/delete(id=${task.id})}" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>